:root {
  --color-light-blue: #89b5e4;
  --color-dark-blue: #659bd4;
  --carousel-transition-delay: 2s; }

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 15px; }

.jsCarousel {
  position: relative; }
  .jsCarousel__title {
    font-size: 20px; }
  .jsCarousel__subtitle {
    color: #3465a4;
    font-size: 18px; }
  .jsCarousel__body {
    display: flex; }
  .jsCarousel__content {
    flex: 0 0 50%; }
    .jsCarousel__content h1 {
      font-size: 34px;
      font-weight: 700; }
  .jsCarousel__footer {
    margin-top: 20px; }
  .jsCarousel__images {
    flex: 0 0 50%;
    position: relative; }
  .jsCarousel__dots-container {
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-items: center; }
  .jsCarousel__link {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    border: 1px solid var(--color-dark-blue);
    border-radius: 15px;
    transition: all .6s;
    cursor: pointer; }
    .jsCarousel__link.active, .jsCarousel__link:hover {
      background-color: var(--color-dark-blue);
      border-width: 2px; }
  .jsCarousel__footer-items {
    position: relative;
    min-height: 50px; }
  .jsCarousel__footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
    .jsCarousel__footer-item .column {
      visibility: hidden;
      z-index: -1;
      opacity: 0.5;
      transform: scale(0.5);
      margin-left: 20px;
      transition: all .4s linear; }
    .jsCarousel__footer-item.active .column {
      visibility: visible;
      z-index: 1;
      opacity: 1;
      vertical-align: middle;
      transform: scale(1);
      margin-left: 0; }
  .jsCarousel__footer-item-column {
    padding: 0 2rem;
    text-align: center;
    font-weight: bold; }
    .jsCarousel__footer-item-column:not(:last-child) {
      border-right: 1px solid var(--color-dark-blue); }
  .jsCarousel__slides {
    position: relative; }
  .jsCarousel__slide {
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
    font-size: 20px;
    transform: scale(0.8);
    position: absolute;
    top: 100px;
    left: 0;
    margin-top: 60px; }
    .jsCarousel__slide h2 {
      font-size: 28px; }
  .jsCarousel__slide.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    top: 0;
    left: 0; }
  .jsCarousel__btn {
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-image: linear-gradient(to right bottom, var(--color-light-blue), var(--color-dark-blue)); }
  .jsCarousel__btn-cta {
    color: var(--color-dark-blue);
    border: 2px solid var(--color-dark-blue);
    padding: 8px 12px;
    border-radius: 85px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap; }
    .jsCarousel__btn-cta:hover {
      color: #fff;
      background-color: var(--color-dark-blue); }
  .jsCarousel__image {
    position: absolute; }
  .jsCarousel__bottom-text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .jsCarousel__bottom-text-container hr {
      width: 100%;
      border: 0;
      margin: 0; }
  .jsCarousel__bottom-text {
    flex: 0 1 25%;
    padding: 5px;
    text-align: center;
    color: var(--color-dark-blue);
    font-weight: bold; }
    .jsCarousel__bottom-text:before {
      content: '';
      opacity: 0;
      padding-right: 0;
      transition: all .5s ease-in-out; }
    .jsCarousel__bottom-text.active:before {
      content: "\000BB ";
      opacity: 1;
      padding-right: 5px;
      font-weight: bold;
      vertical-align: top; }
    .jsCarousel__bottom-text.active {
      color: var(--color-dark-blue);
      border: 2px solid var(--color-dark-blue);
      border-radius: 85px; }
    .jsCarousel__bottom-text--hidden {
      display: none; }
