:root {
    --color-light-blue: #89b5e4;
    --color-dark-blue: #659bd4;
    --carousel-transition-delay: 2s;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
}

.jsCarousel {
    height: 500px;
    position: relative;

    &__title {
        font-size: 20px;
    }

    &__subtitle {
        color: #3465a4;
        font-size: 18px;
    }

    &__body {
        display: flex;
    }

    &__content {
        flex: 0 0 50%;

        h1 {
            font-size: 34px;
            font-weight: 700;
        }
    }

    &__footer {
        position: absolute;
        margin-top: 20px;
        bottom: 0;
    }

    &__images {
        flex: 0 0 50%;
        position: relative;
    }

    &__dots-container {
        display: flex;
        margin: 20px 0;
        justify-content: center;
        align-items: center;
    }

    &__link {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 10px;
        border: 1px solid var(--color-dark-blue);
        border-radius: 15px;
        transition: all .6s;
        cursor: pointer;

        &.active, &:hover {
            background-color: var(--color-dark-blue);
            border-width: 2px;
        }
    }

    &__footer-items {
    }

    &__footer-item {
        display: flex;
        justify-content: center;
        align-items: center;

        .column {
            visibility: hidden;
            opacity: 0;
            height: 0;
            transform: scale(.5);
            margin-left: 20px;
            transition: all .4s linear;
        }

        &.active {
            .column {
                visibility: visible;
                opacity: 1;
                height: auto;
                vertical-align: middle;
                transform: scale(1);
                margin-left: 0;
            }
        }
    }

    &__footer-item-column {
        padding: 0 2rem;
        text-align: center;
        font-weight: bold;

        &:not(:last-child) {
            border-right: 1px solid var(--color-dark-blue);
        }
    }

    &__slides {
        position: relative;
    }

    &__slide {
        visibility: hidden;
        opacity: 0;
        transition: all .4s ease-in-out;
        font-size: 20px;
        transform: scale(.8);
        position: absolute;
        top: 100px;
        left: 0;
        margin-top: 60px;

        h2 {
            font-size: 28px;
        }
    }

    &__slide.active {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        top: 0;
        left: 0;
    }

    &__btn {
        color: #fff;
        padding: 8px 12px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        background-image: linear-gradient(to right bottom, var(--color-light-blue), var(--color-dark-blue));
    }

    &__btn-cta {
        color: var(--color-dark-blue);
        border: 2px solid var(--color-dark-blue);
        padding: 8px 12px;
        border-radius: 85px;
        font-size: 14px;
        font-weight: bold;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: var(--color-dark-blue);
        }
    }

    &__image {
        width: 50%;
        position: absolute;
    }
}