:root {
    --color-light-blue: #89b5e4;
    --color-dark-blue: #659bd4;
    --carousel-transition-delay: 2s;
}

/*.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
}*/

.jsCarousel {
    position: relative;

    &__title {
        font-size: 20px;
        margin-top: .5rem;
    }

    &__subtitle {
        color: #3465a4;
        font-size: 18px;
        margin-top: .5rem;
    }

    &__body {
        display: flex;
    }

    &__content {
        flex: 0 0 50%;
        position: relative;

        h1 {
            font-size: 34px;
            font-weight: 700;
        }
    }

    &__url {
        float: right;
        padding-top: 10px;
        font-size: 14px;
    }

    &__footer {
        margin-top: 20px;
    }

    &__images {
        flex: 0 0 50%;
        position: relative;
    }

    &__dots-container {
        position: absolute;
        bottom: 20%;
        display: flex;
        margin: 20px 0;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__link {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 10px;
        border: 1px solid var(--color-dark-blue);
        border-radius: 15px;
        transition: all .6s;
        cursor: pointer;

        &.active, &:hover {
            background-color: var(--color-dark-blue);
            border-width: 2px;
        }
    }

    &__footer-items {
        position: absolute;
        bottom: 37%;
        width: 100%;
        min-height: 15px;
    }

    &__footer-item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 0;
        left:0;
        margin-left:auto;
        margin-right:auto;

        .column {
            visibility: hidden;
            z-index: -1;
            opacity: 0;
            transform: scale(.9);
            margin-left: 20px;
            transition: all .3s linear;
        }

        &.active {
            .column {
                visibility: visible;
                z-index: 1;
                opacity: 1;
                vertical-align: middle;
                //transform: scale(1);
                margin-left: 0;
            }
        }
    }

    &__footer-item-column {
        padding: 0 2rem;
        text-align: center;
        font-weight: bold;

        &:not(:last-child) {
            border-right: 1px solid var(--color-dark-blue);
        }
    }

    &__slides {
        position: relative;
    }

    &__slide {
        visibility: hidden;
        opacity: 0;
        transition: all .4s ease-in-out;
        font-size: 20px;
        transform: scale(.8);
        position: absolute;
        top: 0;
        left: -1000px;
        margin-top: 50px;

        h2 {
            font-size: 28px;
        }
    }

    &__slide.active {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        top: 0;
        left: 0;
    }

    &__btn {
        color: #fff;
        padding: 8px 12px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        background-image: linear-gradient(to right bottom, var(--color-light-blue), var(--color-dark-blue));
    }

    &__btn-cta-container {
        position: absolute;
        bottom: 13%;
        width: 100%;
        text-align: center;
    }

    &__btn-cta {
        background-color: #1ab394;
        color: #FFFFFF;
        font-size: 16px;
        padding: 10px 16px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        white-space: nowrap;
        display: inline-block;
        margin-bottom: 0;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        background-image: none;
        border: 1px solid #1ab394;
        line-height: 1.42857143;
        border-radius: 5px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
            color: #fff;
            text-decoration: none;
            //background-color: var(--color-dark-blue);
        }
    }

    &__image {
        position: absolute;
    }
}